<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include('../partials/header') %>
    <main class="registerMain">
        <div class="container">
            <form id="form" action="/admin/create" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <div class="">
                        <h2 class="">CARGAR PRODUCTO:</i></h2>
                    </div>
                    <hr>
                    <div class="formEdit">
                        <input type="text" id="titulo" name="titulo" placeholder="titulo" value="<%= locals.old && locals.old.titulo? locals.old.titulo : null %>">
                        <small id="tituloErrors"></small>
                        <% if (locals.errors && errors.titulo) { %>
                            <span class="error-message"><%= errors.titulo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="text" id="modelo" name="modelo" placeholder="modelo" value="<%= locals.old && locals.old.modelo ? locals.old.modelo : null %>">
                        <small id="modeloErrors"></small>
                        <% if (locals.errors && errors.modelo) { %>
                            <span class="error-message"><%= errors.modelo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="precio" name="precio" value="<%= locals.old && locals.old.precio ? locals.old.precio : null %>" placeholder="Precio">
                        <small id="precioErrors"></small>
                        <% if (locals.errors && errors.precio) { %>
                            <span class="error-message"><%= errors.precio.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="descuento" name="descuento" placeholder="Descuento" value="<%= locals.old && locals.old.descuento ? locals.old.descuento : null %>">
                        <small id="descuentoErrors"></small>
                        <% if (locals.errors && errors.descuento) { %>
                            <span class="error-message"><%= errors.descuento.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="cuotas" name="cuotas" value="<%= locals.old && locals.old.cuotas ? locals.old.cuotas : null %>" placeholder="Cuotas">
                        <small id="cuotasErrors"></small>
                        <% if (locals.errors && errors.cuotas) { %>
                            <span class="error-message"><%= errors.cuotas.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <select name="categoria" id="categoria">
                            <option value="<%= locals.old && locals.old.categoria ? locals.old.categoria : null %>" selected hidden>categoria</option>


                            <% categorias.forEach((categoria) => { %>
                                <option value="<%= categoria.id%>" <%=locals.old &&
                                      old.categoria == categoria.id ? "selected" : null %> ><%= categoria.nombre %>
                                </option>
                                <% }) %>

                        </select>
                        <small id="categoriaErrors"></small>
                        <% if (locals.errors && errors.categoria) { %>
                            <span class="error-message"><%= errors.categoria.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <select name="subCategoria" id="subCategoria">
                            <% subcategorys.forEach(subcategory=> { %>
                                <option value="<%- subcategory.id %>">
                                      <%- subcategory.nombre %>
                                </option>
                            <% }) %>
                        </select>
                        <small id="subcategoriaErrors"></small>
                        <% if (locals.errors && errors.subCategoria) { %>
                            <span class="error-message"><%= errors.subCategoria.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <textarea type="textarea" name="descripcion" id="descripcion" placeholder="detalle" value="<%= locals.old && locals.old.descripcion ? locals.old.descripcion : null %>"></textarea>
                        <small id="descripcionErrors"></small>
                        <% if (locals.errors && errors.descripcion) { %>
                            <span class="error-message"><%= errors.descripcion.msg %> </span>
                        <% } %>
                    </div>
                    <div class="avatarFile">
                        <p>Agregar imagen</p>
                        <input type="file" name="imagen" id="imagen" value="">
                    </div>
                    <div class="formEdit">
                        <small id="imagenErrors"></small>
                        <% if (locals.errors && errors.image) { %>
                            <span class="error-message"><%= errors.image.msg %> </span>
                        <% } %>
                        <small id="imagenTrue"></small>
                    </div>
                    <div class="fromSubmit">
                        <small id="errorS"></small>
                        <button type="submit" class="agregarAlCarrito create" >
                            CREAR PRODUCTO
                        </button>
                    </div>
                </div>
            </form>    
        </div>
    </main>
    
    <%- include("../partials/footer")%>
    
    <script src="/js/product-create-form.js" ></script>

</body>
</html>