<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <!-- HEADER-->
    <%- include("../partials/header") %>
    <!-- MAIN-->
    <main class="registerMain">
        <div class="container">
            <form id="form"  action="?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <div class="">
                        <h2 class="">Estas editando:</h2>
                        <h2 class=""><%= productToEdit.titulo %></h2>
                    </div>
                    <hr>
                    <div class="input-container">
                        <label for="titulo" class="form-label"></label>
                        <input type="text" id="titulo" name="titulo" placeholder="titulo" value="<%= productToEdit.titulo %>" class="input-style">
                        <% if (locals.errors && errors.titulo) { %>
                            <span class="error-message"><%= errors.titulo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="modelo" class="form-label"></label>
                        <input type="text" id="modelo" name="modelo" placeholder="modelo" value="<%= productToEdit.modelo %>" class="input-style">
                        <% if (locals.errors && errors.modelo) { %>
                            <span class="error-message"><%= errors.modelo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="precio" class="form-label"></label>
                        <input type="number" id="precio" name="precio" value="<%= productToEdit.precio %>" placeholder="Ej: 5678" class="input-style">
                        <% if (locals.errors && errors.precio) { %>
                            <span class="error-message"><%= errors.precio.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="descuento" class="form-label"></label>
                        <input type="number" id="descuento" name="descuento" placeholder="Ej: 15" value="<%= productToEdit.descuento %>" class="input-style">
                        <% if (locals.errors && errors.descuento) { %>
                            <span class="error-message"><%= errors.descuento.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <label for="cuotas" class="form-label"></label>
                        <input type="number" id="cuotas" name="cuotas" value="<%= productToEdit.cuotas %>" placeholder="Ej: 3 " class="input-style">
                        <% if (locals.errors && errors.cuotas) { %>
                            <span class="error-message"><%= errors.cuotas.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <select name="categoria" id="categoria">
                            <option value="" selected hidden>categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%- categoria.id %>"><%- categoria.nombre %></option>
                            <% }) %>
                        </select>
                        <small id="categoriaErrors"></small>
                    </div>
                    <div class="input-container">
                        <select name="subCategoria" id="subCategoria">
                            <option value="">Sub Categoria</option>
                        </select>
                    </div>
                    <div class="input-container textarea">
                        <label for="description" class="form-label"></label>
                        <textarea type="textarea" name="descripcion" id="descripcion" value="" class="input-style maxStile"><%= productToEdit.descripcion %></textarea>
                        <% if (locals.errors && errors.descripcion) { %>
                            <span class="error-message"><%= errors.descripcion.msg %> </span>
                        <% } %>
                    </div>
                    <div class="input-container">
                        <input type="file" name="imagen">
				    </div>
                    <div class="input-container">
                        <% if (locals.errors && errors.image) { %>
                            <span class="error-message"><%= errors.image.msg %> </span>
                        <% } %>
                    </div>
                    <div class="button-container">
                        <button type="submit">
                           Editar producto
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- FOOTER-->
    <%-include("../partials/footer")%>
</body>
</html>