<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <!-- HEADER-->
    <%- include("../partials/header") %>
    <!-- MAIN-->
    <main class="registerMain">
        <div class="container">
            <form id="form"  action="?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <div class="">
                        <h2 class="">Estas editando:</h2>
                        <h2 class=""><%= productToEdit.titulo %></h2>
                    </div>
                    <hr>
                    <div class="formEdit">
                        <input type="text" id="titulo" name="titulo" placeholder="titulo" value="<%= productToEdit.titulo %>" >
                        <small id="tituloErrors"></small>
                        <% if (locals.errors && errors.titulo) { %>
                            <span class="error-message"><%= errors.titulo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="text" id="modelo" name="modelo" placeholder="modelo" value="<%= productToEdit.modelo %>">
                        <small id="modeloErrors"></small>
                        <% if (locals.errors && errors.modelo) { %>
                            <span class="error-message"><%= errors.modelo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="precio" name="precio" value="<%= productToEdit.precio %>" placeholder="Ej: 5678" >
                        <small id="precioErrors"></small>
                        <% if (locals.errors && errors.precio) { %>
                            <span class="error-message"><%= errors.precio.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="descuento" name="descuento" placeholder="Ej: 15" value="<%= productToEdit.descuento %>" >
                        <small id="descuentoErrors"></small>
                        <% if (locals.errors && errors.descuento) { %>
                            <span class="error-message"><%= errors.descuento.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="cuotas" name="cuotas" value="<%= productToEdit.cuotas %>" placeholder="Ej: 3 " >
                        <small id="cuotasErrors"></small>
                        <% if (locals.errors && errors.cuotas) { %>
                            <span class="error-message"><%= errors.cuotas.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <select name="categoria" id="categoria">
                            <option value="" selected hidden>categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%-categoria.id %>" <%- locals.old && old.subCategoria == categoria.id ?
                                    "selected" : categoria.id == productToEdit.subCategory_id ?
                                    `selected` : ""  %>><%- categoria.nombre %></option>
                            <% }) %>
                        </select>
                        <small id="categoriaErrors"></small>
                        <% if (locals.errors && errors.categoria) { %>
                            <span class="error-message"><%= errors.categoria.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <select name="subCategoria" id="subCategoria">
                            <option value="" selected hidden>Subcategorias</option>
                            <% subcategorys.forEach(subcategory=> { %>
                                <option value="<%- subcategory.id %>" <%=locals.old &&
                                      old.subcategory==subcategory.id ? "selected" : null %>>
                                      <%- subcategory.nombre %>
                                </option>
                                <% }) %>
                        </select>
                        <small id="subcategoriaErrors"></small>
                        <% if (locals.errors && errors.subCategoria) { %>
                            <span class="error-message"><%= errors.subCategoria.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <textarea type="textarea" name="descripcion" id="descripcion" value=""><%= productToEdit.descripcion %></textarea>
                        <small id="descripcionErrors"></small>
                        <% if (locals.errors && errors.descripcion) { %>
                            <span class="error-message"><%= errors.descripcion.msg %> </span>
                        <% } %>
                    </div>
                    <div class="avatarFile">
                        <p>Modificar imagen</p>
                        <input type="file" name="imagen" id="imagen" value="<%= productToEdit.imagen %>">
                    </div>
                    <div class="input-container">
                        <small id="imagenErrors"></small>
                        <% if (locals.errors && errors.image) { %>
                            <span class="error-message"><%= errors.image.msg %> </span>
                        <% } %>
                        <small id="imagenTrue"></small>
                    </div>
                    <div class = "fromSubmit">
                        <small id="errorS"></small>
                        <button type="submit" class="agregarAlCarrito create">
                            Editar producto
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- FOOTER-->
    <%-include("../partials/footer")%>
    <script src="/js/product-edit-form.js" ></script>
</body>
</html>