<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class="admin">
        <div class="Administrador">
            <div class="buttons">
                <a href="/admin/create">
                    <button>crear producto</button>
                </a>
                <a href="/admin/products">
                    <button>todos los productos</button>
                </a>
                <a href="/users/register">
                    <button>crear usuario</button>
                </a>
                <a href="/">
                    <button>todos los usuarios</button>
                </a>
            </div>
            <div class="producto">
                <% products.forEach(product => { %>
                <article>
                    <div class="imagen-producto">
                        <img class="producto" src="/images/products/<%= product.imagen ? product.imagen : 'default-image.png' %>" alt="">
                    </div>
                    <div class="detalle">
                        <div><%= product.titulo%></div>
                        <div>$<%= toThousand(product.precio) %></div>
                        <div><%= product.descuento%>%off</div>
                        <div><%= product.cuotas%> cuotas sin interes</div>
                        <div>$<%= toThousand(product.precio - (product.precio*product.descuento/100))%></div>
                    </div>
                    <div class="botones">
                        <form action="/admin/edit/<%= product.id%>"><button class="btn1">editar</button></form>
                        <form action="/admin/delete/?_method=delete" method="post">
                            <button class="btn2">borrar</button>
                        </form>
                    </div>
                </article>
                <% })%>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>