<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include('../partials/header') %>
    <main class="registerMain">
        <div class="container">
            <form id="form"   action="/admin/create" method="POST" enctype="multipart/form-data">
                <div class="form">
                    <div class="">
                        <h2 class="">CARGAR PRODUCTO:</i></h2>
                    </div>
                    <hr>
                    <div class="formEdit">
                        <input type="text" id="titulo" name="titulo" placeholder="titulo" value="">
                        <small id="tituloErrors"></small>
                        <% if (locals.errors && errors.titulo) { %>
                            <span class="error-message"><%= errors.titulo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="text" id="modelo" name="modelo" placeholder="modelo" value="">
                        <small id="modeloErrors"></small>
                        <% if (locals.errors && errors.modelo) { %>
                            <span class="error-message"><%= errors.modelo.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="precio" name="precio" value="precio" placeholder="Precio">
                        <small id="precioErrors"></small>
                        <% if (locals.errors && errors.precio) { %>
                            <span class="error-message"><%= errors.precio.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="descuento" name="descuento" placeholder="Descuento" value="descuento">
                        <small id="descuentoErrors"></small>
                        <% if (locals.errors && errors.descuento) { %>
                            <span class="error-message"><%= errors.descuento.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <input type="number" id="cuotas" name="cuotas" value="cuotas" placeholder="Cuotas">
                        <small id="cuotasErrors"></small>
                        <% if (locals.errors && errors.cuotas) { %>
                            <span class="error-message"><%= errors.cuotas.msg %> </span>
                        <% } %>
                    </div>
                    <div class="formEdit">
                        <select name="categoria" id="categoria">
                            <option value="" selected hidden>categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%- categoria.id %>"><%- categoria.nombre %></option>
                            <% }) %>
                        </select>
                        <small id="categoriaErrors"></small>
                    </div>
                    <div class="formEdit">
                        <select name="subCategoria" id="subCategoria">
                            <option value="">Sub Categoria</option>
                        </select>
                        <small id="subcategoriaErrors"></small>
                    </div>
                    <div class="formEdit">
                        <textarea type="textarea" name="descripcion" id="descripcion" value="descripcion" placeholder="detalle"></textarea>
                        <small id="descripcionErrors"></small>
                        <% if (locals.errors && errors.descripcion) { %>
                            <span class="error-message"><%= errors.descripcion.msg %> </span>
                        <% } %>
                    </div>
                    <div class="avatarFile">
                        <p>Agregar imagen</p>
                        <input type="file" name="imagen">
                    </div>
                    <div class="formEdit">
                        <% if (locals.errors && errors.image) { %>
                            <span class="error-message"><%= errors.image.msg %> </span>
                        <% } %>
                    </div>
                    <button type="submit" class="agregarAlCarrito create" >
                       CREAR PRODUCTO
                    </button>
                </div>
            </form>    
        </div>
    </main>
    
    <%- include("../partials/footer")%>
    <script src="../js/product-create-form.js"></script>

</body>
</html>