<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class="admin">
        <div class="Administrador">
            <div class="buttons">
                <a href="/admin/create">
                    <button>crear producto</button>
                </a>
                <a href="/admin/products">
                    <button>todos los productos</button>
                </a>
                <a href="/users/register">
                    <button>crear usuario</button>
                </a>
                <a href="/admin/users">
                    <button>todos los usuarios</button>
                </a>
            </div>
            <div id="global">
                <div id="mensajes">
                  <div class="texto">
                    <div class="producto">
                    <% users.forEach(user => { %>
                    <article>
                        <div class="imagen-user">
                            <img class="user" src="/images/avatar/<%= user.avatar ? user.avatar : 'default-image.png' %>" alt="">
                        </div>
                        <div class="detalle">
                            <div><%= user.nombre%></div>
                            <div><%= user.apellido  %></div>
                            <div>tel <%= user.telefono %></div>
                            <div><%= user.direccion %></div>
                            <div><%= user.provincia %></div>
                        </div>
                        <div class="botones">
                            <form action="/admin/users/<%= user.id %>?_method=PUT" method="POST">
                            <select name="rol" id="rol">
                                <option value="0">user</option>
                                <option value="1">admin</option>
                            </select>
                            <button class="btn1 agregarAlCarrito">Editar</button>
                            </form>
                            <form action="/admin/users/<%= user.id %>?_method=delete" method="post">
                                <button class="btn2 agregarAlCarrito">borrar</button>
                            </form>
                        </div>
                    </article>
                    <% })%>
                </div>
            </div>
                </div>
              </div>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>