<header class="main-header">
    <div class="main-header-top-bar">
        <div class="logo">
            <a href="/">
                <img src="/images/AR-Knight2.png" alt="logo-ferreteria">
            </a>
        </div>
        
       
        <!-- drop down menu destok -->

        <nav class="main-header-nav-bar">
            <ul class="left-nav-bar">
                <div class="categorias">
                    <li><a href="#">Categorias<i class="fa-solid fa-angle-down"></i></a></li>
                    <div class="categorias-content">
                        <% categorias.forEach(categoria => {%>
                            <a  href="/categoria/<%= categoria.id %>"><h5 class="category-list"><%= categoria.nombre %><i class="fa-solid fa-angle-right"></i></h5></a>
                        <% })%>
                    </div>
                </div>
                <li><a href="/">Contactenos</a></li>
                <div class="categorias">
                    <li><a href="/sucursales">Sucursales<i class="fa-solid fa-angle-down"></i></a></li>
                    <div class="categorias-content">
                        <% sucursales.forEach(sucursal => { %>
                            <a href="/sucursales/<%= sucursal.id%>"><h5 class="category-list"><%= sucursal.nombre %><i class="fa-solid fa-angle-right"></i></h5></a>
                        <% })%>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="busqueda">
        <form action="/search" method="get">
                <input type="search" name="search" placeholder="Buscar productos, marcas...">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button> 
            </form>
        </div>
        <div class="main-header-rigth-bar">
                <div class="glass">
                    <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    <div class="glass-content">
                        <input type="search" placeholder="Buscar productos, marcas...">
                    </div>
                </div>    
                <div class="user">
                        <% if (typeof session.usuario == "undefined") { %>
                            <i class="fa-solid fa-user"></i>
                        <% } else {%>
                            <i class="fa-solid fa-user"></i><span class="session"></span>
                        <% } %>
                    <div class="user-content">
                        <% if (typeof session.usuario != "undefined") { %>
                                <a href="/users/profile">Mis datos</a>
                                <a href="/users/logout">Cerrar sesión</a>
                            <% if (session.usuario.rol === 1) { %>
                                <a href="/admin">Admin</a>
                            <% } %>
                    </div>
                    <% } else {%>
                        <a href="/users/login">iniciar sesion</a>
                        <a href="/users/register">crear usuario</a>
                    <% } %>
                </div>
                <% if (typeof session.usuario != "undefined") { %>
                <div class="carrito"> 
                    <a href="/products/productCard"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <% } %>
            </div>
        </div>

         <!-- drop down menu movie -->
         <div class="dropdown" id="dropdown" >
            <button class="burger-menu btn-3" onclick="pullDown()" >
                <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-content " id="dropdown-content">
                <div class="categoria">
                    <a href="#" id="itemsMenu" onclick="pullDownCategories()">Categorias <i class="fa-solid fa-angle-down"></i></a>
                    
                    <div class="categoryMenu" id="categoryMenu" >
                        <ul class="categorias-content">
                            <% categorias.forEach(categoria => {%>
                                <li >
                                    <a  href="/categoria/<%= categoria.id %>"><h5 class="category-list"><%= categoria.nombre %><i class="fa-solid fa-angle-right"></i></h5></a>
                                </li>
                            <% })%>
                        </ul>
                    </div>
                </div>          
                <a href="#">Ofertas</a>
                <a href="#">Contactenos</a>
                <a href="#">Sucursales</a>
            </div>

        </div>
        
</header>