<section class="special-offers">
    <h3 class="section__title"><%= sliderTitle %></h3>
    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity"
    data-flickity-options='{ "wrapAround": true }' >
        <% sliderProducts.forEach(product => { %>
            <div class="carousel-cell  productSlide">
                <a href="/products/productDetail/<%= product.id %>">
                    <% if (product.descuento > 0) { %>
                        <div class="productDiscount"><%- product.descuento %>% OFF</div>
                    <% } %>
                    <img src="/images/products/<%= product.imagen %>" alt="">
                    <p class="productName"> 
                            <%= product.titulo %>
                    </p>
                    <p class="productName">
                        <%- product.modelo %>
                    </p>
                    <hr>
                    <br>
                    <div class="precios">
                        <h4>$<%= toThousand(product.precio) %></h4>
                        <h2>$<%= toThousand(product.precio - (product.precio*product.descuento/100))%></h2>
                    </div>
                    <p class="cuotas">
                        <%= product.cuotas %> cuotas sin interes de $<%= toThousand(product.precio/product.cuotas)%>
                    </p>
                </a>
            </div>
        <% }) %>
    </div>
</section>
