<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main class="userProfile_conteiner">
      <div class="avatarUser">
        <img src="/images/avatar/<%= usuario.avatar %>" alt="" />
      </div>
      <section class="userProfile_box">
        <div class="userbox">
          <h2 class="user_title">TUS DATOS</h2>
          <p class="user_item">Nombre:<%= usuario.nombre %></p>
          <p class="user_item">Apellido:<%= usuario.apellido %></p>
          <p class="user_item">Email:<%= usuario.email %></p>
          <p class="user_item">
            Telefono: <%= usuario.telefono ? usuario.telefono : "___" %>
          </p>
        </div>
        <div class="userbox">
          <h2 class="user_title">DATOS OPCIONALES</h2>
          <p class="user_item">
            Codigo postal: <%= usuario.codigo_postal ? usuario.codigo_postal:
            "___" %>
          </p>
          <p class="user_item">
            Provinicia: <%= usuario.provincia ? usuario.provincia: "_______" %>
          </p>
          <p class="user_item">
            Localidad: <%= usuario.localidad ? usuario.localidad: "_______" %>
          </p>
        </div>
        <a href="/users/profile/edit" class="userB">Editar</a>
      </section>
    </main>
    <script src="/js/validationFormUser.js"></script>
  </body>

  <%- include("../partials/footer") %>
</html>
