<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")  %> 
    
    <body>
    <%- include("../partials/header") %>
    <main class="profileEdit">
     
     <form action="?_method=PUT" method="POST" enctype="multipart/form-data" class="userForm" >
        <h3 class="uTitle">EDITAR PERFIL</h3>
        <div class="formEdit">
            <input type="text" name="nombre" id="name" placeholder="Nombre" value="<%= locals.old ? old.nombre : usuario.nombre %>">
            <small id="nameErrors"></small>
            <% if (locals.errors && errors.nombre) { %>
                <small class="text-danger"><%= errors.nombre.msg %> </small>
            <% } %> 
        </div>
        <div class="formEdit">
            <input type="text" name="apellido" id="apellido" placeholder="Apellido" value="<%= locals.old ? old.apellido : usuario.apellido %>" >
            <small id="apellidoErrors"></small>
             <% if (locals.errors && errors.apellido) { %>
                <small class="text-danger"><%= errors.apellido.msg %> </small>
            <% } %> 
        </div>
        <div class="formEdit">
            <input type="text" name="telefono" id="tel" placeholder="Ingresá tu numero" value="<%= locals.old ? old.telefono : usuario.telefono %>" >
            <small id="telErrors"></small>
        </div>
        <div class="formEdit">
            <input type="text" id="direccion" name="direccion" placeholder="Domicilio" value="<%= locals.old ? old.direccion : usuario.direccion %>">
            <small id="direccionErrors"></small>
        </div>
        <div class="formEdit">
            <input type="text" id="codigo_postal" name="codigo_postal" placeholder="Código postal" value="<%= locals.old ? old.codigo_postal : usuario.codigo_postal %>">
            <small id="codigo_postalErrors"></small>
        </div>
        <div class="formEdit">
            <select name="provincia" id="provincias">
                <option value="" selected hidden>Provincia</option>
                <% provinces.forEach(province => { %>
                    <option value="<%- province.id %>"><%- province.nombre %></option>
                <% }) %>
            </select>
        </div>
        <div class="formEdit">
            <select name="localidad" id="localidad">
                <option value="">Localidad</option>
            </select>
        </div>
        <div class="avatarFile">
            <p>Cambiar foto de perfil</p>
            <input type="file" name="avatar">
        </div>
        <button type="submit" >
            GUARDAR
        </button>
        
    </form>

</main>
</body>
<%- include("../partials/footer") %>
</html>