<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
<main>
    <div class="categoriasContent">
        <% categorias.forEach(categoria => {%>
        <a  href="/categoria/<%= categoria.id %>"><h2 class="category-list"><%= categoria.nombre %><i class="fa-solid fa-angle-right"></i></h2></a>
        <% }) %>
    </div>
</main>

    <%- include("../partials/footer") %>
</body>
</html>