<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head" , { tittle : "Product Detail"}) %>

<body>

    <%- include("../partials/header") %>

    <main class="productdetail">
        <section class="detalles">
          <article class="arti-menu">
         <div class="pasarella-img">
           <img  class="moto" src="/images/products/<%= product.imagen ? product.imagen : 'default-image.png' %>" alt="agujereadora">
         </div>
             <div class="botones" >
               <div class="Descripcion-detalle">
                 <p><%=product.detalle%></p>   
                </div>
                <button class="b-datalle" >
                 descripcion
                </button>
            </div> 
        </article>
          <article class="muestreo">
          <div class="confin">
          <h1>
         <%=product.titulo%>
          </h1>
          <% if (product.descuento > 0 ) { %>
            <p class="precio-final">
              <span class="rallo"><%-toThousand( product.precio)%></span>
              
              <b><%-product.descuento %> % off</b>
            </p>
            <p class="rellado">
              <%=toThousand(product.precio -(product.precio * product.descuento/ 100))%></p>
              
              <% } else { %>
                <p>
                  <%-toThousand(product.precio)%></p>
         <% } %> 
          </div>
          <button class="blink2">
            <a href="/products/productCard"> Agregar al carrito</a></button>
          <div class="btn-car">
            <button class="blink"><a href="/products/edit/<%=product.id%>">Editar</a></button>
            <form action="/products/<%=product.id%>?_method=delete" method="POST" style="display: inline-flex">
							<button type="submit" class="blink">eliminar</button>
            
            </div>
          </article>
       
    </section>
    <section class="contai">
      <%- include("../partials/slider")%> 
  </section>
  
     </main>
      

<%- include("../partials/footer") %>
 <!-- JavaScript -->
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="/js/productslider.js"></script>
</body>
</html>
