<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head" , { tittle : "Product Detail"}) %>

<body>

    <%- include("../partials/header") %>
    <main class="product-detail">
      <section class="product-detail-conteiner">
          <div class="image-container">
              <div class="img">
                  <img src="/images/products/<%= producto.imagen ? producto.imagen.nombre : 'default-image.png' %>" alt="">
              </div>
          </div>
          <div class="detail-container">
              <div class="title">
                  <h1><%= producto.titulo %></h1>
              </div>
              <div class="model">
                  <h2><%= producto.modelo %></h2>
              </div>
              <div class="price">
                  <% if(producto.descuento){%>
                    <h4 class="precio-rayado">$<%= toThousand(producto.precio) %></h4>
                    <h3>$<%= toThousand( producto.precio - ( producto.precio * producto.descuento/100))%> </h3>
                    <h4 class="descuento"><%= producto.descuento %>%</h4>
                  <% }else{ %>
                    <h3 class="precio-sin-descuento">$<%= toThousand(producto.precio) %></h3>
                  <% } %>
              </div>
              <div>
                <% if(producto.cuotas){%>
                  <h3><%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%></h3>
                <% } %>
              </div>
              <button class="detail-dropdown agregarAlCarrito">
                  <h4>detalles</h4>
                  <div class="detail-content">
                    <%= producto.descripcion %>
                  </div>
              </button>
              <a href="/products/productCard">
                  <button class="agregarAlCarrito">
                      <h4>agregar al carrito</h4>
                  </button>
              </a>
          </div>
      </section>
      <%- include("../partials/slider")%> 
  </main>
    <%- include("../partials/footer") %>
 <!-- JavaScript -->
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="/js/productslider.js"></script>
</body>
</html>
