<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
<main class="home">
    <section>
        <h2 class="titulo-productos">Resultado de la busqueda</h2>
        <% if (!producto) { %>
            <div class="">
                <h2 class="" style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
            </div>
        <% } else { %>
        <div class="product-container">
              <article class="product">
                  <div class="photo-container">
                     <a href="/products/productDetail/<%= producto.id %>">
                        <img class="photo" src="/images/products/<%= producto.imagenes ? producto.imagenes : 'default-image.png' %>" alt="pdto 02">
                    </a>
                     <img class="special" src="/images/img-descuento.png" alt="nuevo">
                  </div>
                      <p><%= producto.titulo%></p>
                      <p><%= producto.modelo%></p>
                  <div class="precio">
                      <h4>$<%= producto.precio %></h4>
                  
                  </div>
                  <p class="cuotas">
                      <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                  </p>
                  <button type="submit"><a href="/productCard">Agregar al carrito</a></button>
              </article>
            </div>
        <% } %>
    </section>


</main>

    <%- include("../partials/footer") %>
</body>
</html>