<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
<main class="subcategorias">
    <div class="categoriasContent">
        <% subcategorias.forEach(subcategoria => {%>
            <a  href="/subcategoria/<%= subcategoria.id %>"><h2 class="category-list"><%= subcategoria.nombre %><i class="fa-solid fa-angle-right"></i></h2></a>
            <% }) %>
    </div>
    <div>
        
    </div>
</main>

    <%- include("../partials/footer") %>
</body>
</html>