<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

<body>

   <%- include("partials/header") %>

   <main class="home">
      <div class="banner-conteiner">
        <%- include("partials/carrousel") %>
      </div>
        <!-- SALE -->
    <section class="contai">
        <%- include("partials/slider")%> 
    </section>

      <div class="ofertas">
      <section>
          <div class="titulo_oferta">
              <h3>OFERTAS</h3>
              <div class="carter">
                <p>10%</p>
              </div>
          </div>
          <div class="product-container">
            <% productosOferta.forEach(producto => { %>
              <article class="product">
                  <div class="photo-container">
                      <a href="/products/productDetail/<%= producto.id %>"><img class="photo" src="/images/products/<%= producto.imagen ? producto.imagen : 'default-image.png' %>" alt="pdto 02"></a>
                      <% if (producto.descuento > 0) { %>
                        <div class="productDiscount"><%- producto.descuento %>% OFF</div>
                    <% } %>
                  </div>
                  <p><%= producto.titulo%></p>
                  <p><%= producto.modelo%></p>  
                  <hr>
                  <div class="precio">
                      <h4>$<%= toThousand(producto.precio) %></h4>
                      <h2>$<%= toThousand(producto.precio - (producto.precio*producto.descuento/100))%></h2>
                  </div>
                  <p class="cuotas">
                      <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                  </p>
              </article>
              <% })%>
          </div>
          </section>
      </div>
     
      <div class="nuevo">
          <section>
             
            <h3 class="titulo_stilo">PRODUCTOS NUEVOS</h3>
             
              <div class="product-container">
                <% products.forEach(producto => { %>
                    <article class="product">
                        <div class="photo-container">
                            <a href="/products/productDetail/<%= producto.id %>"><img class="photo" src="/images/products/<%= producto.imagen ? producto.imagen : 'default-image.png' %>" alt="pdto 02"></a>                            <% if (producto.descuento > 0) { %>
                                <div class="productDiscount"><%- producto.descuento %>% OFF</div>
                            <% } %>
                        </div>
                        <p><%= producto.titulo%></p>
                        <p><%= producto.modelo%></p>
                        <hr>
                        <div class="precio">
                            <h4>$<%= toThousand(producto.precio) %></h4>
                            <h2>$<%= toThousand(producto.precio - (producto.precio*producto.descuento/100))%></h2>
                        </div>
                        <p class="cuotas">
                            <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                        </p>
                    </article>
                    <% })%>
          </section>
      </div>

      <div class="banner-pintura">
          <a href="/subcategoria/21"><img src="/images/landing-pinturas_tendencia_1.jpg" alt="pinturas"></a>
      </div>
      <h3 class="titulo_stilo">PINTURAS</h3>
      <div class="product-container">
        <% pinturas.forEach(pintura => { %>
            <article class="product">
                <div class="photo-container">
                    <a href="/products/productDetail/<%= pintura.id %>"><img class="photo" src="/images/products/<%= pintura.imagen ? pintura.imagen : 'default-image.png' %>" alt="pdto 02"></a>
                    <% if (pintura.descuento > 0) { %>
                        <div class="productDiscount"><%- pintura.descuento %>% OFF</div>
                    <% } %>
                </div>
                <p><%= pintura.titulo%></p>
                <p><%= pintura.modelo%></p>
                <hr>
                <div class="precio">
                    <h4>$<%= toThousand(pintura.precio) %></h4>
                    <h2>$<%= toThousand(pintura.precio - (pintura.precio*pintura.descuento/100))%></h2>
                </div>
                <p class="cuotas">
                    <%= pintura.cuotas %> cuotas sin interes de $<%= toThousand(pintura.precio/pintura.cuotas)%>
                </p>
            </article>
            <% })%>
      </div>
  </main>
    
   <%-include("partials/footer")%>
   <!-- JavaScript -->
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
   <script src="/js/carousel.js"></script>
   
   
</body>
</html>