<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>

<body>

   <%- include("partials/header") %>

   <main class="home">
      <div class="banner-conteiner">
          <img src="/images/BANNER-HERRAMIENTAS.jpg" alt="banner">
      </div>
      <div class="ofertas">
      <section>
          <h2>Ofertas</h2>
          <div class="product-container">
            <% products.forEach(producto => { %>
              <article class="product">
                  <div class="photo-container">
                      <a href="/products/productDetail"><img class="photo" src="/images/<%= producto.imagen %>" alt="pdto 02"></a>
                      <img class="special" src="/images/img-descuento.png" alt="nuevo">
                  </div>
                  <p><%= producto.titulo%></p>
                  <p><%= producto.modelo%></p>
                  <div class="precio">
                      <h4>$<%= toThousand(producto.precio) %></h4>
                      <h2>$<%= toThousand(producto.precio - (producto.precio*producto.descuento/100))%></h2>
                  </div>
                  <p class="cuotas">
                      <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                  </p>
                  <button type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
              </article>
              <% })%>
          </div>
          </section>
      </div>
     
      <div class="nuevo">
          <section>
              <h2>Productos nuevos</h2>
              <div class="product-container">
                <% products.forEach(producto => { %>
                    <article class="product">
                        <div class="photo-container">
                            <a href="/products/productDetail"><img class="photo" src="/images/<%= producto.imagen %>" alt="pdto 02"></a>
                            <img class="special" src="/images/img-descuento.png" alt="nuevo">
                        </div>
                        <p><%= producto.titulo%></p>
                        <p><%= producto.modelo%></p>
                        <div class="precio">
                            <h4>$<%= toThousand(producto.precio) %></h4>
                            <h2>$<%= toThousand(producto.precio - (producto.precio*producto.descuento/100))%></h2>
                        </div>
                        <p class="cuotas">
                            <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                        </p>
                        <button type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
                    </article>
                    <% })%>
          </section>
      </div>

      <div class="banner-pintura">
          <a href=""><img src="/images/landing-pinturas_tendencia_1.jpg" alt="pinturas"></a>
      </div>
      <h2 class="pintura">Pinturas</h2>
      <div class="product-container">
        <% products.forEach(producto => { %>
            <article class="product">
                <div class="photo-container">
                    <a href="/products/productDetail"><img class="photo" src="/images/<%= producto.imagen %>" alt="pdto 02"></a>
                    <img class="special" src="/images/img-descuento.png" alt="nuevo">
                </div>
                <p><%= producto.titulo%></p>
                <p><%= producto.modelo%></p>
                <div class="precio">
                    <h4>$<%= toThousand(producto.precio) %></h4>
                    <h2>$<%= toThousand(producto.precio - (producto.precio*producto.descuento/100))%></h2>
                </div>
                <p class="cuotas">
                    <%= producto.cuotas %> cuotas sin interes de $<%= toThousand(producto.precio/producto.cuotas)%>
                </p>
                <button type="submit"><a href="/products/productCard">Agregar al carrito</a></button>
            </article>
            <% })%>
      </div>
  </main>

   <%-include("partials/footer")%>
   
</body>
</html>